<?xml version="1.0"?>
<configuration>
    <appSettings>
      <add key="ServerExeFile" value="server.dat"/>
      <add key="ExeParameters" value="+gowindow +nosound +nfkplanet +game server +exec server +dontsavecfg software"/>
      <add key="LogFile" value="basenfk\realtimelog.txt"/>
      <add key="ProcessorAffinity" value="FF"/><!-- hex value -->
      <add key="ProcessorAffinity" value="3"/><!-- numeric 0-5 -->
      <add key="ServiceName" value="NFK"/>
    </appSettings>
</configuration>