<?xml version="1.0"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>

    <appSettings>
      <add key="ServerExeFile" value="m:\SERVERS\NFK\TRX-SRV-RIP\server.dat"/>
      <add key="ExeParameters" value="+gowindow +nosound +nfkplanet +game server +exec server +dontsavecfg software"/>
      <add key="LogFile" value="basenfk\realtime.log"/>
      <add key="ServiceName" value="NFK3"/>
    </appSettings>

</configuration>
